@{
    ViewData["Title"] = "Product Page";
}
<body>
    <div class="addNewProduct" style="display:none">
        <h2>Add a New Product</h2>

        <form id="add-product-form" enctype="multipart/form-data">

            <input type ="hidden" id="productId"/>

            <label for="productName" id="productNameLabel">Product Name:</label><br>
            <input type="text" id="productName" name="name" required><br><br>

            <label for="productPrice" id="productPriceLabel">Price:</label><br>
            <input type="number" id="productPrice" name="price" min="0.01" step="0.01" required><br><br>

            <label for="productDescription" id="productDescriptionLabel">Description:</label><br>
            <textarea id="productDescription" name="description" rows="4" required></textarea><br><br>

            <button id="submit-product">Add Product</button> 
            <button id="edit-product" style="display:none">Edit Product</button>
            <button id="productList">Go to Product Listing</button>
        </form>
    </div>
    <div class="productDetail">
        <div>
            <button class="add-product">Add Product</button>
        </div>
        <div>
            <table id="tblProducts" class="tblProducts">
                <thead>
                    <tr>
                        <th align="left">Product ID</th>
                        <th align="left">Product Name</th>
                        <th align="left">Product Price</th>
                        <th align="left">Descrtption</th>
                        <th>Edit/Delete</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</body>
